@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap');

:root {
    --cor-azul: #49A8F0;
    --cor-cinzaClaro: #FBFBFB;
}

* {
    padding: 0px;
    margin: 0px;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}

.logo-nav {
    display: flex;
    align-items: center;
}

.logo-nav a {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cor-azul);
    border-radius: 10px;
    margin-right: 2em;
    cursor: pointer;
}

.logo-nav a img {
    width: 60px;
    padding: 10px 12px 7px;
}

.logo-nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo-nav ul img {
    display: none;
}

.logo-nav ul li {
    list-style-type: none;
    margin: 0em .7em;
    font-weight: bold;
    font-size: 1.1em;
    cursor: pointer;
}

.search-user {
    display: flex;
    flex-direction: row;
    align-items: center;
}

header input {
    height: 35px;
    background-color: var(--cor-cinzaClaro);
    border: 1px solid rgba(0, 0, 0, 0.212);
    border-radius: 10px;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.116);
    font-size: 1em;
    margin-right: 2em;
    padding: 0px 20px;
    outline: none;
}

header input::placeholder {
    color: rgba(0, 0, 0, 0.46);
}

.user {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #BBBBBB;
    border: 1px solid rgba(0, 0, 0, 0.116);
    border-radius: 50%;
    padding: 5px;
    width: 40px;
    height: 40px;
    background-image: url('../Icons/user_icon.png');
    background-size: cover;
    cursor: pointer;
}   

.user-options-container {
    display: none;
    position: fixed;
    justify-content: right;
    align-items: baseline;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: 1;
}

.user-options {
    display: flex;
    flex-direction: column;
    justify-content: left;
    background-color: white;
    margin: 10px 10px;
    border: 1px solid rgba(0, 0, 0, 0.205);
    border-radius: 5px;
}

.user-options-header {
    display: flex;
    justify-content: left;
    padding: 15px 15px 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.363);
}

.user-options-header .user {
    width: 50px;
    height: 50px;
    cursor: auto;
}

.user-options-header ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin-left: 15px;
    width: 200px;
}

.user-options-header .name-user {
    display: -webkit-box;
    font-size: 1.1em;
    font-weight: bold;
    -webkit-line-clamp: 1; /** número de linhas que você quer exibir */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.user-options-header .email-user {
    display: -webkit-box;
    font-size: .8em;
    -webkit-line-clamp: 1; 
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.user-options-settings {
    display: flex;
    justify-content: left;
    padding: 5px 15px;
}

.user-options-settings li {
    list-style: none;
    padding: 5px 0px;
    cursor: pointer;
}

.sair {
    padding: 10px 15px;
    border-top: 1px solid rgba(0, 0, 0, 0.363);
    cursor: pointer;
    text-decoration: none;
    color: black;
}

main {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0px 15%;
}

.tela-progresso {

    width: 100%;
    background-color: #E4E4E4;
    display: flex;
    border-radius: 0.8em;
    margin-top: 4em;
    box-shadow: 0.1em 0.2em 0.2em rgba(0, 0, 0, 0.120);
    flex-direction: column;
    align-content: flex-end;
    justify-content: space-between;
    padding: 1.9em 1.9em 0px;
}

.mensagem-contagem{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.bomdia h2{
    font-size: 2.3em;
    border: 0.2em;
    display: flex;
}

.contagem-treino{
    font-size: 20px;
    text-align: center;
    padding: 0.3em;
    margin: 0.3em;
    display: flex;
    flex-direction: row;
}
.contagem-treino h3{
    font-size: 1em;
    padding: 0em 0.2em 0.7em;
}

.contagem-treino span{
    font-size: 1.5em;
    font-weight: bold;
}

.traco{
    border: 1px solid rgba(0, 0, 0, 0.322);
    height: 100%;
    margin: 0em 1em;
}

.progresso-semanal {
    display: flex;
    align-content: flex-end;
    flex-direction: column;
    transform: translate(0px, -35px);
}

.progresso-semanal h3 {
    margin-bottom: 15px;
    font-size: 1.3em;
}

.semana{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 1.1em 1.1em 0px;
    font-size: 0.8em;
    text-align: center
}

.barra-progresso{
    background-color: white;
    width: 7em;
    margin: 1em 1em 0px;
    padding: 0.3em;
    border-radius: 1.6em;
}

.opcoes-main{
    width: 100%;
    height: 14em;
    background-color:  white;
    display: flex;
    border-radius: 0.8em;
    margin-top: 2.3em;
    flex-direction: row;
    justify-content: space-between;
}

.quadro-opcao{
    width: 28%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: #E4E4E4;
    display: flex;
    border-radius: 1em;
    flex-direction: column;
    box-shadow: 0.1em 0.2em 0.2em rgba(0, 0, 0, 0.120);
    cursor: pointer;
}

.nome-opcao{
    align-items: center;
    justify-content: center;
    padding: 0.8em;
}

.opcao-imagem{
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 1em;
    background-color: #F5F5F5;
}

.opcao-imagem img {
    border-radius: 10px;
    width: 100px;
    height: 100px;
}

.opcao-imagem .imagem img {
    height: 90px;
}

footer {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    bottom: 0;
    padding: 30px 0px;
    border-top: 1px solid rgba(0, 0, 0, 0.226);
}
