@media screen and (max-width: 925px) {
    .header {
        padding: 10px 20px;
    }

    .logo-nav ul img {
        display: flex;
        width: 30px;
        padding-top: 10px;
    }

    .logo-nav .grupo img {
        display: flex;
        width: 30px;
        padding-top: 5px;
        border-top: 4px solid #49A8F0;
    }
    
    .logo-nav ul div {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        cursor: pointer;
        user-select: none;
        transform: translate(0px, -2px);
    }

    .nav {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 0px 10% 14px;
        border-top: 1px solid rgba(0, 0, 0, 0.24);
        background-color: white;
    }
    
    .ul {
        display: flex;
        justify-content: space-between;
        font-size: .7em;
        color: rgba(0, 0, 0, 0.493);
    }

    .grupo {
        color: black;
    }

    .ul .li {
        margin: 0px;
    }

    main section {
        flex-direction: column;
        align-items: center;
    }

    .entrar-em-um-grupo {
        margin-left: 0px;
        margin-bottom: 5em;
    }

    footer p {
        margin: 0px 20px;
    }
}

@media screen and (max-width: 473px) {

    .pesquisar {
        display: none;
    }

    .nav {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 0px 20px 12px;
    }

    h1 {
        font-size: 1.4em;
    }

}